
.chatbot-container {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px; 
    width: 80%;
    height: 600px;
    margin: 20px auto;
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    position: relative; 
}

/* Chat bubble */
.message {
    max-width: 100%;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for user message */
.message.user {
    background-color: #4654eb;
    color: #fff;
}

/* Style for bot message */
.message.bot {
    background-color: #f0f0f0;
    color: #333;   
}

/* Message input field container */
.message-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* Push to the bottom */
    padding: 20px; /* Add padding for spacing */
}

.message-input input[type="text"] {
    height: 45px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 15px;
    flex: 1;
}

.message-input button {
    width: 80px; /* Adjust width as needed */
    height: 45px; /* Match the height of the input field */
    padding: 10px;
    border: none;
    border-radius: 15px; /* Match the border radius of the input field */
    background-color: #4654eb;
    color: #fff;
    cursor: pointer;
}

.message-input button:hover {
    background-color: #6470f7;
}